<header class="bg-red-500 text-white p-4 shadow-md pb-4">
  <nav class="flex items-center justify-between px-8 h-16 gap-8 container mx-auto">
    <a
      href="/"
      class="flex text-3xl font-bold border-2 px-2 py-1 text-white whitespace-nowrap"
    >
      Airbnb
    </a>

    <!-- Dropdown Menu -->
    <div
      class="dropdown-menu absolute top-16 left-0 w-full flex-col gap-8 items-center py-4 font-bold text-black lg:text-white hidden lg:flex lg:static lg:flex-row lg:justify-between lg:gap-8"
    >
      <ul class="flex flex-col items-center gap-6 lg:flex-row lg:gap-8">
        <li>
          <a href="/" class="<%= currentPage === 'index' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300 ">Index</a>
        </li>
        <li>
          <a href="/home" class="<%= currentPage === 'home' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300 ">Home</a>
        </li>
        <li>
          <a href="/add-home" class="<%= currentPage === 'add-home' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300 sm::text-blue-600">Add Home</a>
        </li>
        <li>
          <a href="/favourites" class="<%= currentPage === 'favourites' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300 sm::text-blue-600">Favourites</a>
        </li>
        <li>
          <a href="/bookings" class="<%= currentPage === 'bookings' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300 sm::text-blue-600">Bookings</a>
        </li>
        <li>
          <a href="/contact-us" class="<%= currentPage === 'contact-us' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300 ">contact-us</a>
        </li>
        <li>
          <a
            href="/host-homes"
            class="<%= currentPage === 'host-homes' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300"
            >Host Homes</a
          >
        </li>
      </ul>
      <div class="flex flex-col items-center gap-6 lg:flex-row lg:gap-8">
        <button class="bg-white text-sky-600 px-4 py-2 rounded-lg cursor-pointer">
          Sign Up
        </button>
        <button class="bg-white text-sky-400 px-4 py-2 rounded-lg cursor-pointer">
          Log In
        </button>
      </div>
    </div>

    <!-- Toggle Button -->
    <div class="toggle-button lg:hidden cursor-pointer">
      <i class="fa-solid fa-bars fa-lg"></i>
    </div>
  </nav>
</header>
