<%- include('../partials/head')  %>
</head>
<body>
  <%- include('../partials/nav')  %>
  

<section>
  <section class="text-center px-4 py-8">
    <h3 class="text-2xl font-bold mb-6">List of Added Homes</h3>
    <div class="flex flex-wrap justify-center gap-6">
      <% favourites.forEach(home => { %>
        <div class="bg-white rounded-xl shadow-md hover:shadow-xl transition duration-300 w-full sm:w-80 p-4">
          <img src="<%= home.image %>" alt="<%= home.name %>" class="w-full h-48 object-cover rounded-lg mb-4" />
          
         
          <h2 class="text-xl font-bold text-black mb-1"><%= home.homename %></h2>
          <div class="flex items-center text-gray-600 text-sm mb-2">
            <i class="fas fa-map-marker-alt mr-2 text-blue-500"></i>
            <p> <%= home.location %></p>
          </div>
    
          <div class="flex justify-between items-center mb-4">
            <p class="text-lg font-bold text-red-500">Rs <%= home.price %> / night</p>  <span class="text-sm text-gray-700">BedRooms: <%= home.bedrooms %></span>
            <div class="flex items-center text-yellow-400">
             
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" class="w-5 h-5 mr-1">
                <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z" clip-rule="evenodd" />
              </svg>
              <span class="text-sm text-gray-700"><%= home.rating %></span>
            </div>
          </div>
    
          <button class="m-2 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-700 transition mb-2 cursor-pointer"> <a href="/home/<%= home.id %>" target="_blank" rel="noopener noreferrer">Details</a></button>
          
        </div>
      <% }) %>
    </div>
    
  </section>
</section>


  <%- include('../partials/toggle')  %>
</body>


</html>